NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
ADMIN_NOTIFICATIE_EMAIL=
REGISTRATIE_WACHTWOORD=
INLOGGEGEVENS_SLEUTEL=
PRICELABS_API_KEY=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
